<h2>Formulario de heroes</h2>

<div [hidden]="!submitted">
  <h2>¡Gracias!</h2>
</div>


<form (ngSubmit)="submitForm(); heroForm.reset()" #heroForm="ngForm">
  {{ hero | json }}
  <div class="form-group">
    <label for="name">Name</label>
    <input [(ngModel)]="hero.name" type="text" class="form-control" id="name" name="name" #spy #name="ngModel" required> {{spy.className}}

    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
      Name is required
    </div>

  </div>

  <div class="form-group">
    <label for="alterEgo">Alter Ego</label>
    <input [(ngModel)]="hero.alterEgo" type="text" class="form-control" id="alterEgo" name="alterEgo">
  </div>

  <div class="form-group">
    <label for="power">Hero Power</label>
    <select [(ngModel)]="hero.power" class="form-control" id="power" name="power" required>
      <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
    </select>
  </div>

  <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>

</form>